.black-button {
	background-color: black;
	color: white;
}

.red-button {
	background-color: red;
	color: white;
}

.green-button {
	background-color: green;
}

.gold-button {
	background-color: gold;
}